[Unit]
Description=AutoSSH tunnel service everythingcli MySQL on local port 5000
After=network.target

[Service]
Environment="AUTOSSH_GATETIME=0"
User=pi
ExecStart=/usr/bin/autossh -M 0 -N -q -o "ServerAliveInterval 30" -o "ServerAliveCountMax 3" -p 22 -l pi -R alexatest012.serveo.net:80:localhost:5000 serveo.net

[Install]
WantedBy=multi-user.target
